body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

:root {
    --cell-color: #3FA796;
    --cell-color-inactive: #b8e6de;
    --cell-border: #2A0944; /*#9D75CB; */
    --text-color: #2A0944;
    --shadows:  #A10035;  
    --secondary-color:  #FEC260; 
    --secondary-color-inactive:  #ffe9c5; 
}

#game-board {
    background-color: var(--cell-border);
    padding: 2px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 1px;
    font-size: 80px;
    margin: auto;
}

.cell {
    display: grid;
    border: 1px solid var(--cell-border);
    background-color: var(--cell-color);
    color: var(--text-color);
    justify-content: center;
    align-content: center;
}

.cell:hover {
    background-color: var(--secondary-color);
}

.players {
    width: 450px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

h3 {
    grid-column: 1/3;
    text-align: center;
}

button {
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

#restart {
    width: 200px;
    font-size: 1.3em;
    padding: 10px 10px 10px 10px;
}

#xPlayer, #oPlayer {
    padding: 10px 10px 10px 10px;
    font-size: 1.3em;
}

.inactive > .cell  {
    background-color: var(--cell-color-inactive);
}

button.inactive {
    background-color: var(--secondary-color-inactive);
}

.hidden {
    visibility: hidden;
}

#winnerPopup.show {
    visibility: visible;
}








