body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

:root {
    --cell-color: #3FA796;
    --cell-color-inactive: #eeeeee;
    --cell-border: #2A0944; /*#9D75CB; */
    --text-color: #2A0944;
    --shadows:  #A10035;  
    --secondary-color:  #FEC260; 
    --secondary-color-inactive:  #dcdad6; 
    --opacity: 0.50;
}

#game-board {
    background-color: var(--cell-border);
    padding: 2px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 1px;
    font-size: 80px;
    margin: auto;
}

.cell {
    display: grid;
    border: 1px solid var(--cell-border);
    background-color: var(--cell-color);
    color: var(--text-color);
    justify-content: center;
    align-content: center;
}

.cell:hover {
    background-color: var(--secondary-color);
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 57px;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.players.hidden {
    opacity: 0;
}

.players > div {
    position: absolute;
}

#name-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#name-sign > div {
    position: absolute;
}

#player-names {
    transition: opacity 0.5s ease;
}

#player-names.hidden {
    opacity: 0;
}

p {
    margin: 0;
    line-height: 1;
}

button {
    border: none;
    max-height: 50px;
    border-radius: 3px;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

#restart {
    width: 200px;
    font-size: 1.3em;
    padding: 10px 10px 10px 10px;
}


#xPlayer, #oPlayer {
    padding: 10px 10px 10px 10px;
    font-size: 2em;
}

.inactive > .cell  {
    background-color: var(--cell-color-inactive);
    border: var(--secondary-color-inactive);
}

#game-board.inactive {
    background-color: var(--secondary-color-inactive);
}

button.inactive {
    background-color: var(--secondary-color-inactive);
}

.hidden {
    visibility: hidden;
}

#winner-container {
    background-color: var(--cell-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#winner-container.visible {
    opacity: 1;
}

#winner-popup {
    background-color: var(--cell-color-inactive);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    font-size: 20px;
    padding: 30px 80px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#winner-popup p {
    color: var(--text-color);
}

#new-game {
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
}

#gamename {
    font-size: 50px;
    margin: 20px 0 0 0;
}

h1 {
    font-size: 1.3em;
    margin: 5px 0;
}

/* #first-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease;
} */

#first-popup {
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* opacity doesn't work for some reason */
    background-color: rgba(var(--cell-color), var(--opacity));
}


